function Point.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push static 0
push constant 1
add
pop static 0
push pointer 0
return
function Point.sum 2
push argument 0
pop pointer 0
push this 0
push argument 1
call Point.getx 1
add
pop local 0
push this 1
push argument 1
call Point.gety 1
add
pop local 1
push local 0
push local 1
call Point.new 2
return
function Point.getx 0
push argument 0
pop pointer 0
push this 0
return
function Point.gety 0
push argument 0
pop pointer 0
push this 1
return
function Point.getCount 0
push static 0
return


